<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>79fdcbc1-dc55-452a-adbe-29d23b8bbf5e</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppId</Key>
            <Value>108927</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Format</Key>
            <Value>Banner</Value>
          </Property>
        </Metadata>
        <Name>GoogleAdMob</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>195822</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>ca-app-pub-0060244412490577/5489859484</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-CA627562-138C-4A9C-96C2-5657AB6DC711</Id>
        <Name>AdMediator_BD1F90</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>60</RefreshRate>
  <TestConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>test_client</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppId</Key>
            <Value>0</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Format</Key>
            <Value>Banner</Value>
          </Property>
        </Metadata>
        <Name>GoogleAdMob</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>MY_AD_UNIT_ID</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-CA627562-138C-4A9C-96C2-5657AB6DC711</Id>
        <Name>AdMediator_BD1F90</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </TestConfiguration>
  <UpdatedDateTime>2014-11-16T15:47:58.854411Z</UpdatedDateTime>
</AdMediatorConfiguration>